<div class = "footer">
  <div class = "footer_main col-xs-12 col-md-12">
    <nav class = "footer_main-left col-xs-4 col-md-4">
      <ul>
        <li><a [routerLink] = "['/contact']">Contact us</a></li>
        <li><a [routerLink] = "['/faq']">FAQs</a></li>
        <li><a [routerLink] = "['/delivery']">Delivery</a></li>
      </ul>
    </nav>

    <div class = "footer_main-middle col-xs-4 col-md-4">
      <h2>Stay in the know</h2>
      <form>
        <input type = "text" placeholder="Enter your email address">
        <button type = "submit">
          <i class="far fa-check-circle"></i>
        </button>
      </form>
    </div>

    <nav class = "footer_main-right text-center col-xs-4 col-md-4">
      <ul>
        <li><a [routerLink] = "['/facebook']"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href = "www.google.com"><i class="fab fa-google"></i></a></li>
        <li><a href = "www.youtube.com"><i class="fab fa-youtube"></i></a></li>
        <li><a href = "www.twitter.com"><i class="fab fa-twitter-square"></i></a></li>
      </ul>
    </nav>
  </div>

  <div class = "footer_nav col-xs-12 col-md-12">
    <div class = "footer_nav-left col-xs-6 col-md-6">
      <ul>
        <ul class = "no-pl">
          <li><strong>Customer Service |</strong></li>
          <li><a [routerLink] = "['/contact']">Contact us</a> |</li>
          <li><a [routerLink] = "['/delivery']">Delivery</a> |</li>
          <li><a [routerLink] = "['/refund']">Returns & Refunds Policy</a> |</li>
          <li><a [routerLink] = "['/faq']">FAQs</a> |</li>
          <li><a [routerLink] = "['/terms']">Terms & Conditions</a> |</li>
          <li><a [routerLink] = "['/privacy']">Privacy Policy</a> |</li>
        </ul>
        <ul class = "no-pl">
          <li><strong>About us |</strong></li>
          <li><a [routerLink] = "['/background']">Our Story</a> |</li>
          <li><a [routerLink] = "['/stock']">Global Stockists</a> |</li>
        </ul>
        <ul class = "no-pl">
          <li><strong>Here to Help |</strong></li>
          <li><a [routerLink] = "['/popular-search']">Popular Searches</a> |</li>
          <li><a [routerLink] = "['/maintain']">Jewellery Care</a> |</li>
          <li><a [routerLink] = "['/repair']">Warranty & Repairs</a> |</li>
          <li><a [routerLink] = "['/size-guide']">Size Guide</a> |</li>
        </ul>
      </ul>
    </div>

    <div class = "footer_nav-right text-center col-xs-6 col-md-6">
      <ul class = "no-pl">
        <ul>
          <li><a [routerLink] = "['/affiliates']"><strong>Affiliates |</strong></a></li>
          <li><a [routerLink] = "['/careers']">Careers</a></li>
        </ul>
        <ul>
          <li><a [routerLink] = "['/sitemap']"><strong>Sitemap |</strong></a></li>
          <li><a [routerLink] = "['/review']">Review</a></li>
        </ul>
      </ul>
    </div>

  </div>

  <div class = "footer_pay text-center col-xs-12 col-md-12">
    <ul>
      <li><i class="fab fa-cc-visa"></i></li>
      <li><i class="fab fa-cc-mastercard"></i></li>
      <li><i class="fab fa-cc-paypal"></i></li>
      <li><i class="fab fa-amazon-pay"></i></li>
    </ul>
    <h2>© Astley Clarke Limited 2021</h2>
  </div>

</div>
